protobuf==3.20.*
fastapi
uvicorn
pydantic
openai
langchain
langchain-community
langchain-core
langchain-chroma
langchain-google-genai
langchainhub
langchain_mongodb
faiss-cpu
chromadb
gradio 
pypdf 
python-dotenv 
pandas 
PyPDF2 
pdfplumber
python-multipart


plotly==6.1.2
pymongo==4.6.0
sqlalchemy==2.0.41
pandas==2.2.3
numpy==2.2.6
gradio==5.32.1
requests==2.32.3
httpx==0.28.1
pytest==8.4.0
pytest-mock==3.14.1
cryptography==45.0.3
click==8.2.1
typer==0.16.0
SpeechRecognition
setuptools